.vscode/.prettierrc.json
users.txt
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
subprojects/libjpeg-turbo.wrap
subprojects/libpng.wrap
subprojects/libtiff-4.wrap
subprojects/sdl2_image.wrap
subprojects/sdl2.wrap
subprojects/zlib.wrap
subprojects/animationwindow/meson.build
subprojects/animationwindow/include/AnimationWindow.h
subprojects/animationwindow/include/Color.h
subprojects/animationwindow/include/Font.h
subprojects/animationwindow/include/Image.h
subprojects/animationwindow/include/KeyboardKey.h
subprojects/animationwindow/include/MessageType.h
subprojects/animationwindow/include/Point.h
subprojects/animationwindow/include/Widget.h
subprojects/animationwindow/include/internal/FontCache.h
subprojects/animationwindow/include/internal/KeyboardKeyConverter.h
subprojects/animationwindow/include/internal/nuklear_configured.h
subprojects/animationwindow/include/internal/nuklear_sdl_renderer.h
subprojects/animationwindow/include/internal/nuklear.h
subprojects/animationwindow/include/internal/portable-file-dialogs.h
subprojects/animationwindow/include/internal/windows_main_fix.h
subprojects/animationwindow/include/widgets/Button.h
subprojects/animationwindow/include/widgets/CheckBox.h
subprojects/animationwindow/include/widgets/DropdownList.h
subprojects/animationwindow/include/widgets/RadioButton.h
subprojects/animationwindow/include/widgets/Slider.h
subprojects/animationwindow/include/widgets/TextBox.h
subprojects/animationwindow/include/widgets/TextInput.h
subprojects/animationwindow/src/AnimationWindow.cpp
subprojects/animationwindow/src/Color.cpp
subprojects/animationwindow/src/Image.cpp
subprojects/animationwindow/src/Widget.cpp
subprojects/animationwindow/src/internal/FontCache.cpp
subprojects/animationwindow/src/internal/KeyboardKeyConverter.cpp
subprojects/animationwindow/src/internal/nuklear_implementation.cpp
subprojects/animationwindow/src/widgets/Button.cpp
subprojects/animationwindow/src/widgets/CheckBox.cpp
subprojects/animationwindow/src/widgets/DropdownList.cpp
subprojects/animationwindow/src/widgets/RadioButton.cpp
subprojects/animationwindow/src/widgets/Slider.cpp
subprojects/animationwindow/src/widgets/TextBox.cpp
subprojects/animationwindow/src/widgets/TextInput.cpp
subprojects/sdl2_image_windows/.DS_Store
subprojects/sdl2_image_windows/CHANGES.txt
subprojects/sdl2_image_windows/copy.py
subprojects/sdl2_image_windows/LICENSE.txt
subprojects/sdl2_image_windows/meson.build
subprojects/sdl2_image_windows/README.txt
subprojects/sdl2_image_windows/bin/SDL2_image.dll
subprojects/sdl2_image_windows/include/SDL2/SDL_image.h
subprojects/sdl2_image_windows/lib/libSDL2_image.a
subprojects/sdl2_image_windows/lib/libSDL2_image.dll.a
subprojects/sdl2_image_windows/lib/libSDL2_image.la
subprojects/sdl2_image_windows/lib/cmake/SDL2_image/sdl2_image-config-version.cmake
subprojects/sdl2_image_windows/lib/cmake/SDL2_image/sdl2_image-config.cmake
subprojects/sdl2_image_windows/lib/pkgconfig/SDL2_image.pc
subprojects/sdl2_windows/BUGS.txt
subprojects/sdl2_windows/copy.py
subprojects/sdl2_windows/COPYING.txt
subprojects/sdl2_windows/CREDITS.txt
subprojects/sdl2_windows/INSTALL.txt
subprojects/sdl2_windows/meson.build
subprojects/sdl2_windows/README-SDL.txt
subprojects/sdl2_windows/README.txt
subprojects/sdl2_windows/WhatsNew.txt
subprojects/sdl2_windows/bin/sdl2-config
subprojects/sdl2_windows/bin/SDL2.dll
subprojects/sdl2_windows/include/SDL2/begin_code.h
subprojects/sdl2_windows/include/SDL2/close_code.h
subprojects/sdl2_windows/include/SDL2/SDL_assert.h
subprojects/sdl2_windows/include/SDL2/SDL_atomic.h
subprojects/sdl2_windows/include/SDL2/SDL_audio.h
subprojects/sdl2_windows/include/SDL2/SDL_bits.h
subprojects/sdl2_windows/include/SDL2/SDL_blendmode.h
subprojects/sdl2_windows/include/SDL2/SDL_clipboard.h
subprojects/sdl2_windows/include/SDL2/SDL_config.h
subprojects/sdl2_windows/include/SDL2/SDL_cpuinfo.h
subprojects/sdl2_windows/include/SDL2/SDL_egl.h
subprojects/sdl2_windows/include/SDL2/SDL_endian.h
subprojects/sdl2_windows/include/SDL2/SDL_error.h
subprojects/sdl2_windows/include/SDL2/SDL_events.h
subprojects/sdl2_windows/include/SDL2/SDL_filesystem.h
subprojects/sdl2_windows/include/SDL2/SDL_gamecontroller.h
subprojects/sdl2_windows/include/SDL2/SDL_gesture.h
subprojects/sdl2_windows/include/SDL2/SDL_guid.h
subprojects/sdl2_windows/include/SDL2/SDL_haptic.h
subprojects/sdl2_windows/include/SDL2/SDL_hidapi.h
subprojects/sdl2_windows/include/SDL2/SDL_hints.h
subprojects/sdl2_windows/include/SDL2/SDL_joystick.h
subprojects/sdl2_windows/include/SDL2/SDL_keyboard.h
subprojects/sdl2_windows/include/SDL2/SDL_keycode.h
subprojects/sdl2_windows/include/SDL2/SDL_loadso.h
subprojects/sdl2_windows/include/SDL2/SDL_locale.h
subprojects/sdl2_windows/include/SDL2/SDL_log.h
subprojects/sdl2_windows/include/SDL2/SDL_main.h
subprojects/sdl2_windows/include/SDL2/SDL_messagebox.h
subprojects/sdl2_windows/include/SDL2/SDL_metal.h
subprojects/sdl2_windows/include/SDL2/SDL_misc.h
subprojects/sdl2_windows/include/SDL2/SDL_mouse.h
subprojects/sdl2_windows/include/SDL2/SDL_mutex.h
subprojects/sdl2_windows/include/SDL2/SDL_name.h
subprojects/sdl2_windows/include/SDL2/SDL_opengl_glext.h
subprojects/sdl2_windows/include/SDL2/SDL_opengl.h
subprojects/sdl2_windows/include/SDL2/SDL_opengles.h
subprojects/sdl2_windows/include/SDL2/SDL_opengles2_gl2.h
subprojects/sdl2_windows/include/SDL2/SDL_opengles2_gl2ext.h
subprojects/sdl2_windows/include/SDL2/SDL_opengles2_gl2platform.h
subprojects/sdl2_windows/include/SDL2/SDL_opengles2_khrplatform.h
subprojects/sdl2_windows/include/SDL2/SDL_opengles2.h
subprojects/sdl2_windows/include/SDL2/SDL_pixels.h
subprojects/sdl2_windows/include/SDL2/SDL_platform.h
subprojects/sdl2_windows/include/SDL2/SDL_power.h
subprojects/sdl2_windows/include/SDL2/SDL_quit.h
subprojects/sdl2_windows/include/SDL2/SDL_rect.h
subprojects/sdl2_windows/include/SDL2/SDL_render.h
subprojects/sdl2_windows/include/SDL2/SDL_revision.h
subprojects/sdl2_windows/include/SDL2/SDL_rwops.h
subprojects/sdl2_windows/include/SDL2/SDL_scancode.h
subprojects/sdl2_windows/include/SDL2/SDL_sensor.h
subprojects/sdl2_windows/include/SDL2/SDL_shape.h
subprojects/sdl2_windows/include/SDL2/SDL_stdinc.h
subprojects/sdl2_windows/include/SDL2/SDL_surface.h
subprojects/sdl2_windows/include/SDL2/SDL_system.h
subprojects/sdl2_windows/include/SDL2/SDL_syswm.h
subprojects/sdl2_windows/include/SDL2/SDL_test_assert.h
subprojects/sdl2_windows/include/SDL2/SDL_test_common.h
subprojects/sdl2_windows/include/SDL2/SDL_test_compare.h
subprojects/sdl2_windows/include/SDL2/SDL_test_crc32.h
subprojects/sdl2_windows/include/SDL2/SDL_test_font.h
subprojects/sdl2_windows/include/SDL2/SDL_test_fuzzer.h
subprojects/sdl2_windows/include/SDL2/SDL_test_harness.h
subprojects/sdl2_windows/include/SDL2/SDL_test_images.h
subprojects/sdl2_windows/include/SDL2/SDL_test_log.h
subprojects/sdl2_windows/include/SDL2/SDL_test_md5.h
subprojects/sdl2_windows/include/SDL2/SDL_test_memory.h
subprojects/sdl2_windows/include/SDL2/SDL_test_random.h
subprojects/sdl2_windows/include/SDL2/SDL_test.h
subprojects/sdl2_windows/include/SDL2/SDL_thread.h
subprojects/sdl2_windows/include/SDL2/SDL_timer.h
subprojects/sdl2_windows/include/SDL2/SDL_touch.h
subprojects/sdl2_windows/include/SDL2/SDL_types.h
subprojects/sdl2_windows/include/SDL2/SDL_version.h
subprojects/sdl2_windows/include/SDL2/SDL_video.h
subprojects/sdl2_windows/include/SDL2/SDL_vulkan.h
subprojects/sdl2_windows/include/SDL2/SDL.h
subprojects/sdl2_windows/lib/libSDL2_test.a
subprojects/sdl2_windows/lib/libSDL2_test.la
subprojects/sdl2_windows/lib/libSDL2.a
subprojects/sdl2_windows/lib/libSDL2.dll.a
subprojects/sdl2_windows/lib/libSDL2.la
subprojects/sdl2_windows/lib/libSDL2main.a
subprojects/sdl2_windows/lib/libSDL2main.la
subprojects/sdl2_windows/lib/cmake/SDL2/sdl2-config-version.cmake
subprojects/sdl2_windows/lib/cmake/SDL2/sdl2-config.cmake
subprojects/sdl2_windows/lib/pkgconfig/sdl2.pc
subprojects/sdl2_windows/share/aclocal/sdl2.m4
subprojects/std_lib_facilities/meson.build
subprojects/std_lib_facilities/std_lib_facilities.h
.gitignore
meson.build
